<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <img class="mb-4 ContenedorLogo" src="assets/img/500-internal.png" width="360" height="210">

                <h1>
                    !Lo sentimos¡</h1>
                <h2>
                    No se encontró el servidor de negocios</h2>
                <div class="error-details">
                    Puede esperar algunos minutos y reintentar, si el problema persiste favor comunicarlo con el personal de mantenimiento de SSIS
                </div>
                <div class="error-actions">
                   <a [routerLink]="['/login']" class="btn btn-danger">Regresar al login de SMP</a>
                </div>
            </div>
        </div>
    </div>
</div>