<mat-dialog-content class="mat-typography">
    <div class="card">
        <div class="card-header">
            Información General de la Actividad
        </div>
        <div class="card-body">
            <p><strong>Componente: </strong>{{data.COMPONENTE}}</p>
            <p><strong>Sub Componente: </strong>{{data.SUB_COMPONENTE}}</p>
            <p><strong>Indicador: </strong>{{data.INDICADOR}}</p>
            <p><strong>Producto: </strong>{{data.PRODUCTO}}</p>
            <p><strong>Actividad: </strong>{{data.EDT_NOMBRE}}</p>
            <p><strong>Descripción: </strong>{{data.DESCRIPCION}}</p>
            <p><strong>Objeto del Gasto: </strong>{{data.OBJETO_GASTO}}</p>
            <p><strong>Responsable: </strong>{{data.RESPONSABLE}}</p>
            <p><strong>Fecha de Inicio Estimada: </strong>{{data.FECHA_INICIO_ESTIMADA_DESCRIPCION}}</p>
            <p><strong>Fecha de Finalización Estimada: </strong>{{data.FECHA_FINAL_ESTIMADA_DESCRIPCION}}</p>

            <a *ngIf="data.mostrarEdicion" [routerLink]="['/editar-actividad', data.ID, data.OPERACION_ID]" class="btn btn-primary btn-sm active"
                [mat-dialog-close]="true">Realizar Ajustes en la Actividad</a>
        </div>
    </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <!--  <button mat-button mat-dialog-close>Cerrar</button> -->
    <button mat-button [mat-dialog-close]="true">Regresar</button>
</mat-dialog-actions>