<body>
    <app-cabecera (regresar)="onRegresar()"></app-cabecera>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active h5" [routerLink]="['/iniciooperacion']">
                                Operaciones <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link h6" [routerLink]="['/iniciooperacion']">
                                Crear una nueva Operación <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link h5" [routerLink]="['/iniciocatalogo']">
                                Catalogos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link h5" [routerLink]="['/inicioseguridad']">
                                Seguridad
                            </a>
                        </li>
                    </ul>

                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h5">Nueva Operación</h1>
                </div>

                <div class="card mb-3 border-secondary">
                    <div class="card-body">
                        <p class="card-text">En esta sección se pueden crear nuevas operaciones.
                        </p>

                        <div class="btn-toolbar mb-2 mb-md-0">
                            <div class="btn-group mr-2">
                                <button type="button" class="btn btn-sm btn-outline-secondary"
                                    [routerLink]="['/opr-a']">Crear una nueva Operación</button>
                            </div>
                        </div>

                    </div>
                </div>

                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h5">Lista de Operaciones</h1>
                </div>

                <ng-container *ngFor="let a of modelo">
                    <div class="card mb-3">
                        <div class="card-body">
                            <p class="card-title h5">Operacion: {{a.CODIGO}}</p>
                            <p class="card-text">Fuente: {{a.FUENTE}}</p>
                            <p class="card-text">Monto: {{a.MONTO | currency:'$'}}</p>
                            <p class="card-text">Nombre: {{a.NOMBRE}}</p>

                            <div class="btn-toolbar mb-2 mb-md-0">
                                <div class="btn-group mr-2">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"
                                        [routerLink]="['/componente', a.ID]">Estructura de la
                                        Operación</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Planificar</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Ejecutar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>


            </main>

        </div>
    </div>

</body>