<body>

    <app-cabecera></app-cabecera>

    <div class="container-fluid">
        <div class="row">

            <app-menu [lista]="menu" (regresar)="onRegresar()" (reporte)="onReporte()"></app-menu>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <mat-label>Componentes</mat-label>
                        <mat-select placeholder="-- Lista de Componentes --" name="componente" #componente="ngModel"
                            [(ngModel)]="componenteid" required>
                            <mat-option *ngFor='let a of componentelista' [value]='a.ID'
                                (click)="onSeleccionComponente()">
                                {{a.EDT_NOMBRE}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Sub Componentes</mat-label>
                        <mat-select placeholder="-- Lista de Sub Componentes --" name="subcomponente"
                            #subcomponente="ngModel" [(ngModel)]="modelo.COMPONENTE_ID" required>
                            <mat-option *ngFor='let a of subcomponentelista' [value]='a.ID'
                                (click)="onSeleccionSubComponente()">
                                {{a.EDT_NOMBRE}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Indicadores</mat-label>
                        <mat-select placeholder="-- Lista de Indicadores --" name="indicador" #indicador="ngModel"
                            [(ngModel)]="modelo.INDICADOR_ID" required>
                            <mat-option *ngFor='let a of indicadorlista' [value]='a.ID'
                                (click)="onSeleccionIndicador()">
                                {{a.EDT_NOMBRE}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Productos</mat-label>
                        <mat-select placeholder="-- Lista de Productos --" name="productos" #indicador="ngModel"
                            [(ngModel)]="modelo.PRODUCTO_ID" required>
                            <mat-option *ngFor='let a of productolista' [value]='a.ID' (click)="onSeleccionProducto()">
                                {{a.EDT_NOMBRE}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>EDT</mat-label>
                        <input matInput name="edt" #edt="ngModel" [(ngModel)]="modelo.EDT_DESCRIPCION" required maxlength="150">
                        <mat-error *ngIf="edt.touched">
                            Ingrese el EDT
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Nombre de la Actividad</mat-label>
                        <input matInput placeholder="Ejem. Compra de suministros" name="nombre" #nombre="ngModel"
                            [(ngModel)]="modelo.NOMBRE" required maxlength="150">
                        <mat-error *ngIf="nombre.touched">
                            Ingrese el nombre de la actividad
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Descripción de la Actividad</mat-label>
                        <textarea matInput placeholder="....." name="descripcion" #descripcion="ngModel"
                            [(ngModel)]="modelo.DESCRIPCION" maxlength="1000"></textarea>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput [matDatepicker]="pickerInicio" [min]="dateMin" [max]="dateMax"
                            placeholder="Fecha de inicio estimada" name="fie" #fie="ngModel" [(ngModel)]="dateInicio"
                            required readonly>
                        <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
                        <mat-datepicker #pickerInicio></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput [matDatepicker]="pickerEntrega" [min]="dateMin" [max]="dateMax"
                            placeholder="Fecha de entrega" name="fif" #fif="ngModel" [(ngModel)]="dateFinal" required
                            readonly>
                        <mat-datepicker-toggle matSuffix [for]="pickerEntrega"></mat-datepicker-toggle>
                        <mat-datepicker #pickerEntrega></mat-datepicker>
                    </mat-form-field>

                    <div class="alert alert-danger" role="alert" *ngIf="vdateigual">
                        ! La fecha de inicio y finalización deben ser diferentes ¡
                    </div>

                    <div class="alert alert-danger" role="alert" *ngIf="vdatemayor">
                        ! La fecha de inicio debe ser menor a la fecha de finalización ¡
                    </div>

                    <div style="padding-bottom: 10px;">
                        <p class="card-text text-muted h6">
                            <small>Monto $</small> </p>
                        <input currencyMask name="monto" #monto="ngModel" [(ngModel)]="value"
                            [options]="{prefix: '', thousands: ',', align:'left', precision:'0' }" class="card-text" />
                    </div>

                    <div class="alert alert-danger" role="alert" *ngIf="vMonto">
                        ! Debe de ingresar el monto de la Actividad ¡
                    </div>

                    <div class="col" style="padding-top: 15px;">
                        <app-responsable [isObligatorio]="true" (onResponsable)="onresponsable($event)">
                        </app-responsable>
                    </div>

                    <div class="alert alert-danger" role="alert" *ngIf="alert">
                        !Debe de asignar un Responsable¡
                    </div>

                    <hr class="mb-4">

                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <button type="button" class="btn btn-sm btn-outline-success"
                                (click)="onGuardar()">Guardar</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary"
                                (click)="onCancelar()">Cancelar</button>
                        </div>
                    </div>
                </form>

                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h5">Actividades</h1>
                </div>

                <table class="table table-striped">
                    <thead>
                        <tr style="text-align: center;">
                            <th scope="col">Componente</th>
                            <th scope="col">Sub Componente</th>
                            <th scope="col">Indicador</th>
                            <th scope="col">Producto</th>
                            <th scope="col">Actividad</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Inicio Estimado</th>
                            <th scope="col">Finalización Estimada</th>
                            <th scope="col">Monto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let a of lista" style="text-align: justify;">
                            <td>{{a.COMPONENTE}}</td>
                            <td>{{a.SUB_COMPONENTE}}</td>
                            <td>{{a.INDICADOR}}</td>
                            <td>{{a.PRODUCTO}}</td>
                            <td>{{a.EDT_NOMBRE}}</td>
                            <td>{{a.DESCRIPCION}}</td>
                            <td>{{a.FECHA_INICIO_ESTIMADA_DESCRIPCION}}</td>
                            <td>{{a.FECHA_FINAL_ESTIMADA_DESCRIPCION}}</td>
                            <td>{{a.PROYECCION | currency}}</td>
                        </tr>
                    </tbody>
                </table>

            </main>
        </div>
    </div>
</body>