<body>
    <app-cabecera></app-cabecera>

    <div class="container-fluid">
        <div class="row">

            <app-menu [lista]="menu" (regresar)="onRegresar()"></app-menu>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h5">Nueva Operación</h1>
                </div>

                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <mat-label>Programa</mat-label>
                        <mat-select placeholder="-- Lista de Programas --" name="programa" #name="ngModel"
                            [(ngModel)]="modelo.PROGRAMA_ID" required>
                            <mat-option *ngFor='let a of modeloprograma' [value]='a.ID'>
                                {{a.EDT_NOMBRE}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
            
                    <mat-form-field class="example-full-width">
                        <mat-label>Fuente Financiamiento</mat-label>
                        <mat-select placeholder="-- Lista de Fuentes de Financiamiento --" name="fuente" #fuente="ngModel"
                            [(ngModel)]="modelo.FUENTE_ID" required>
                            <mat-option *ngFor='let a of modelofuente' [value]='a.ID'>
                                {{a.NOMBRE}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
            
                    <mat-form-field class="example-full-width">
                        <mat-label>Número de la Operación</mat-label>
                        <input matInput placeholder="Ejem. BL-123-HN" name="codigo" #codigo="ngModel" [(ngModel)]="modelo.CODIGO"
                            required maxlength="100">
                        <mat-error *ngIf="codigo.touched">
                            Ingrese el número de la operación
                        </mat-error>
                    </mat-form-field>
            
                    <mat-form-field class="example-full-width">
                        <mat-label>Nombre de la Operación</mat-label>
                        <input matInput placeholder="Ejem. BL-123-HN" name="nombre" #nombre="ngModel" [(ngModel)]="modelo.NOMBRE"
                            required maxlength="250">
                        <mat-error *ngIf="nombre.touched">
                            Ingrese el nombre de la operación
                        </mat-error>
                    </mat-form-field>
            
                    <mat-form-field class="example-full-width">
                        <mat-label>Descripción de la Operación</mat-label>
                        <input matInput name="descripcion" #descripcion="ngModel" [(ngModel)]="modelo.DESCRIPCION" maxlength="500">
                    </mat-form-field>
            
                    <mat-form-field class="example-full-width">
                        <mat-label>Fecha de Inicio de la Operación</mat-label>
                        <input matInput [matDatepicker]="pickerInicio" name="inicio" #inicio="ngModel" [(ngModel)]="dateI" required
                            readonly>
                        <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
                        <mat-datepicker #pickerInicio></mat-datepicker>
                    </mat-form-field>
            
                    <mat-form-field class="example-full-width">
                        <mat-label>Fecha de Finalización de la Operación</mat-label>
                        <input matInput [matDatepicker]="pickerFin" name="fin" #fin="ngModel" [(ngModel)]="dateF" required readonly>
                        <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
                        <mat-datepicker #pickerFin></mat-datepicker>
                    </mat-form-field>
            
                    <div class="example-full-width">
                        <p class="card-text text-muted h6">
                            <small>Monto $</small> </p>
                        <input currencyMask name="monto" #monto="ngModel" [(ngModel)]="value" maxlength="16"
                            [options]="{prefix: '', thousands: ',', align:'left', precision:'0' }" class="card-text" />
            
                        <div class="alert alert-warning" role="alert" *ngIf="vMonto">
                            <h5 class="alert-heading">!Ingrese el valor del monto de la operación¡</h5>
                        </div>
                    </div>
            
                    <hr class="mb-4">
            
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <button type="button" class="btn btn-sm btn-outline-success" (click)="onGuardar()">Guardar</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary" (click)="onCancelar()">Cancelar</button>
                        </div>
                    </div>
                </form>

            </main>
        </div>
    </div>
</body>