<body>
  <app-cabecera></app-cabecera>

  <div class="container-fluid">
    <div class="row">
      <app-menu
        [lista]="menu"
        (regresar)="onRegresar()"
        (reporte)="onReporte()"
      ></app-menu>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <ng-container *ngIf="indicadorAsociado; else asociado">
          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
          >
            <h1 class="h5">
              Indicadores No Asociados al POA {{ poamodelo.ANIO }}
            </h1>
          </div>

          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Nombre del Indicador</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let a of listaIndiador">
                <td>{{ a.EDT_NOMBRE }}</td>
              </tr>
            </tbody>
          </table>

          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
              <button
                type="button"
                class="btn btn-sm btn-outline-success"
                (click)="onGuardar()"
              >
                Asociar Indicadores al POA {{ poamodelo.ANIO }}
              </button>
            </div>
          </div>
        </ng-container>

        <ng-template #asociado>
          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
          >
            <h1 class="h5">
              Indicadores Asociados al POA {{ poamodelo.ANIO }}
            </h1>
          </div>

          <div class="card border-success mb-3">
            <div class="card-body">
              <p class="card-text">
                Los indicadores se asociaron al POA {{ poamodelo.ANIO }}
              </p>

              <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-success"
                    (click)="onRegresar()"
                  >
                    Regresar a la Planificación Física de los Indicadores
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </main>
    </div>
  </div>
</body>
