<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">

            <ng-container *ngFor="let i of lista">
                <ng-container *ngIf="i.N; else nivel2">
                    <li class="nav-item">
                        <a class="nav-link h4 {{i.active}}" style="font-weight: bold; font-size:small;"
                            [routerLink]="[i.url]">
                            {{i.nombre}}
                        </a>
                    </li>
                </ng-container>

                <ng-template #nivel2>
                    <li class="nav-item" style="padding-left: 12px;">
                        <a class="nav-link h5 {{i.active}}" style="font-style: italic;" [routerLink]="[i.url]">
                            {{i.nombre}}
                        </a>
                    </li>
                </ng-template>
            </ng-container>

            <li class="nav-item">
                <a class="nav-link h4"
                    style="cursor: pointer; color:darkgreen; font-weight: bold; padding-top: 20px; font-size: large;"
                    (click)="emitir_regresar()">Regresar</a>
            </li>

        </ul>

    </div>
</nav>