<app-cabecera (regresar)="onRegresar()"></app-cabecera>

<div class="container">
    <div class="py-5">
        <p class="h2">Crear una Fuente de Financiamiento</p>
    </div>

    <form class="example-form">        
        <mat-form-field class="example-full-width">
            <mat-label>Nombre de la Fuente de Financiamiento</mat-label>
            <input matInput placeholder="Exem. BID" name="nombre" #nombre="ngModel"
                [(ngModel)]="modelo.NOMBRE" required maxlength="150">
            <mat-error *ngIf="nombre.touched">
                Ingrese el nombre de la Fuente de Financiamiento
            </mat-error>
        </mat-form-field>

        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary" (click)="onGuardar()">Guardar</button>
                <button type="button" class="btn btn-sm btn-outline-secondary" (click)="onCancelar()">Cancelar</button>
            </div>
        </div>
    </form>
