<body>
  <app-cabecera></app-cabecera>

  <div class="container-fluid">
    <div class="row">
      <app-menu
        [lista]="menu"
        (regresar)="onRegresar()"
        (reporte)="onReporte()"
      ></app-menu>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
        >
          <h1 class="h5">Ejecución Física {{ poamodelo.OPERACION }}</h1>
        </div>

        <ng-container *ngIf="poadetallemodelo">
          <div
            *ngIf="barraestado"
            style="padding-bottom: 20px; padding-left: 10px"
          >
            <div class="progress">
              <div
                class="progress-bar progress-bar-striped progress-bar-animated"
                role="progressbar"
                aria-valuenow="75"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: 100%"
              ></div>
            </div>
          </div>

          <table class="table" style="font-size: smaller">
            <thead style="text-align: center">
              <th scope="col">EDT</th>
              <th scope="col">Indicador</th>
              <th scope="col">P/E</th>
              <th scope="col">Ene</th>
              <th scope="col">Feb</th>
              <th scope="col">Mar</th>
              <th scope="col">Abr</th>
              <th scope="col">May</th>
              <th scope="col">Jun</th>
              <th scope="col">Jul</th>
              <th scope="col">Ago</th>
              <th scope="col">Sep</th>
              <th scope="col">Oct</th>
              <th scope="col">Nov</th>
              <th scope="col">Dic</th>
              <th scope="col"></th>
            </thead>

            <tbody>
              <ng-container *ngFor="let A of lista; index as x">
                <tr>
                  <td>
                    <p style="width: 30px; text-align: center; font-size: 10px">
                      {{ A.EDT }}
                    </p>
                  </td>

                  <td>
                    <a
                      style="width: 150px; text-align: justify; cursor: pointer"
                      (click)="onInformacionGeneral(lista[x])"
                      >{{ A.EDT_NOMBRE }}</a
                    >
                  </td>

                  <td>
                    <tr>
                      <td><p style="height: 10px; width: 10px">P</p></td>
                    </tr>

                    <tr>
                      <td><p style="width: 10px">E</p></td>
                    </tr>
                  </td>

                  <ng-container *ngFor="let B of poadetallemodelo; index as i">
                    <ng-container *ngIf="B.INDICADOR_ID == A.ID">
                      <ng-container
                        *ngFor="
                          let KEY of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
                        "
                      >
                        <ng-container *ngIf="B.MES == KEY">
                          <td>
                            <tr>
                              <td>
                                <input
                                  currencyMask
                                  name="pro"
                                  #pro="ngModel"
                                  [(ngModel)]="poadetallemodelo[i].PROYECCION"
                                  [options]="{
                                    prefix: '',
                                    thousands: ',',
                                    align: 'left',
                                    precision: '0'
                                  }"
                                  class="celda-ejecucion"
                                  style="background-color: white"
                                  readonly
                                />
                              </td>
                            </tr>

                            <tr>
                              <td>
                                <input
                                  currencyMask
                                  name="monto"
                                  #monto="ngModel"
                                  [(ngModel)]="
                                    poadetallemodelo[i].EJECUCION
                                  "
                                  [options]="{
                                    prefix: '',
                                    thousands: ',',
                                    align: 'left',
                                    precision: '0'
                                  }"
                                  class="celda-ejecucion"
                                  style="background-color: white"
                                />
                              </td>
                            </tr>
                          </td>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </ng-container>

                  <td>
                    <button
                      class="btn btn-sm btn-outline-secondary"
                      style="font-size: 11px"
                      (click)="onGuardar(lista[x])"
                    >
                      Actualizar
                    </button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </ng-container>
       
      </main>
    </div>
  </div>
</body>
