<body>

    <app-cabecera></app-cabecera>


    <div class="container-fluid">
        <div class="row">

            <app-menu [lista]="menu" (regresar)="onRegresar()" (reporte)="onReporte()"></app-menu>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h5">Programación Financiera {{poamodelo.OPERACION}}</h1>
                </div>

                <div class="btn-toolbar mb-2 mb-md-0" style="padding: 20px;">
                    <div class="btn-group mr-2">
                        <ng-container *ngIf="estadoEdicion; else noedicion">
                            <button type="button" class="btn btn-sm btn-success" (click)="onGuardar()">Actualizar
                                Valores de la Programación</button>
                        </ng-container>

                        <ng-template #noedicion>
                            <button type="button" class="btn btn-sm btn-outline-success"
                                (click)="onGuardar()">Actualizar
                                Valores de la Programación</button>
                        </ng-template>

                        <button type="button" class="btn btn-sm btn-outline-secondary" (click)="onCancelar()">Deshacer
                            Cambios</button>
                    </div>
                </div>

                <div *ngIf="barraestado" style="padding-bottom: 20px; padding-left: 10px;">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                            aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                    </div>
                </div>

                <table class="table" style="font-size:smaller;">
                    <thead style="text-align: center;">
                        <th scope="col">EDT</th>
                        <th scope="col">Actividad</th>
                        <th scope="col">Costo</th>
                        <th scope="col">Ene</th>
                        <th scope="col">Feb</th>
                        <th scope="col">Mar</th>
                        <th scope="col">Abr</th>
                        <th scope="col">May</th>
                        <th scope="col">Jun</th>
                        <th scope="col">Jul</th>
                        <th scope="col">Ago</th>
                        <th scope="col">Sep</th>
                        <th scope="col">Oct</th>
                        <th scope="col">Nov</th>
                        <th scope="col">Dic</th>
                        <th scope="col">Programación</th>
                        <!--
                        <th scope="col"></th>
                         -->
                    </thead>

                    <tbody>
                        <ng-container *ngFor="let A of lista; index as x">
                            <tr>
                                <td>
                                    <p style="width: 32px; text-align: center; font-size: 10px;">{{A.EDT_DESCRIPCION}}
                                    </p>
                                </td>

                                <td>
                                    <a style="width: 150px; text-align: justify; cursor: pointer; font-size: 10px;"
                                        (click)="onInformacionGeneral(lista[x])">{{A.NOMBRE}}</a>
                                </td>

                                <td>
                                    <p style="width: 56px; text-align: right; font-size: 10px;">
                                        {{A.PROYECCION | currency:'$'}}</p>
                                </td>

                                <ng-container *ngFor="let B of poadetallemodelo; index as i">
                                    <ng-container *ngIf="B.ACTIVIDAD_ID == A.ID">
                                        <ng-container *ngFor="let KEY of [1,2,3,4,5,6,7,8,9,10,11,12]">
                                            <ng-container *ngIf="B.MES == KEY">
                                                <ng-container
                                                    *ngIf="B.MES >= A.MES && B.MES <= A.FMES; else sinprogramacion">
                                                    <td>
                                                        <input currencyMask name="monto" #monto="ngModel"
                                                            [(ngModel)]="poadetallemodelo[i].PROYECCION"
                                                            [options]="{prefix: '', thousands: ',', align:'left', precision:'0' }"
                                                            class="celda-proyeccion" style="background-color: white;"
                                                            (keyup)="onSumatoria(A.ID)" />
                                                    </td>
                                                </ng-container>

                                                <ng-template #sinprogramacion>
                                                    <td>
                                                        <input currencyMask
                                                            [options]="{prefix: '', thousands: ',', align:'left', precision:'0' }"
                                                            class="celda-proyeccion" readonly />
                                                    </td>
                                                </ng-template>

                                            </ng-container>
                                        </ng-container>

                                    </ng-container>
                                </ng-container>

                                <td>
                                    <ng-container *ngIf="A.PROYECCION_REAL == A.PROYECCION; else noigual">
                                        <p style="width: 50px; text-align: right; font-size: 10px;">
                                            {{A.PROYECCION_REAL | currency:'$'}}</p>
                                    </ng-container>

                                    <ng-template #noigual>
                                        <p style="width: 50px; text-align: right; font-size: 10px;  color:red;">
                                            {{A.PROYECCION_REAL | currency:'$'}}</p>
                                    </ng-template>

                                </td>

                                <!--
                                <td>
                                    <button class="btn btn-sm btn-outline-secondary" style="font-size: 11px;"
                                        (click)="onGuardar(lista[x])">Actualizar</button>
                                </td>
                                -->

                            </tr>

                        </ng-container>
                    </tbody>

                </table>
            </main>
        </div>

    </div>

</body>