<body>
    <app-cabecera></app-cabecera>

    <div class="container-fluid">
        <div class="row">
            <app-menu [lista]="menu" (regresar)="onRegresar()"></app-menu>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h5">Operación</h1>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="card" style="height: 15rem;">
                            <div class="card-body">
                                <h5 class="card-title">Programas</h5>
                                <p class="card-text">Estructura de organización flexible temporal creada para coordinar,
                                    dirigir y supervisar la aplicación de un conjunto de proyectos y actividades
                                    relacionadas con el fin de obtener resultados y beneficios relacionas con objetivos
                                    estratégicos de la organización</p>

                                <div class="btn-toolbar mb-2 mb-md-0">
                                    <div class="btn-group mr-2">
                                        <button type="button" class="btn btn-sm btn-outline-secondary"
                                            [routerLink]="['/programa-a']">Ver</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card" style="height: 15rem;">
                            <div class="card-body">
                                <h5 class="card-title">Fuente de Financiamiento</h5>
                                <p class="card-text">Origen de los recursos con que se cubren las asignaciones
                                    presupuestarias. Por lo mismo son los canales e instituciones bancarias y
                                    financieras, tanto internas como externas por cuyo medio se obtienen los recursos
                                    necesarios para equilibrar las finanzas públicas</p>

                                <div class="btn-toolbar mb-2 mb-md-0">
                                    <div class="btn-group mr-2">
                                        <button type="button" class="btn btn-sm btn-outline-secondary"
                                            [routerLink]="['/fuente-a']">Ver</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h5">Organización</h1>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="card mb-3" style="height: 15rem;">
                            <div class="card-body">
                                <h5 class="card-title">Tipo Dirección</h5>
                                <p class="card-text">Tipos relacionados con esta dirección, los cuales se relacionan con
                                    el liderazgo.</p>

                                <div class="btn-toolbar mb-2 mb-md-0">
                                    <div class="btn-group mr-2">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card mb-3" style="height: 15rem;">
                            <div class="card-body">
                                <h5 class="card-title">Dirección</h5>
                                <p class="card-text">Elemento de la administración en el que se logra la realización
                                    efectiva de todo lo planeado, por medio de al autoridad del administrador, ejercida
                                    a base de decisiones, ya sea tomadas directamente, ya, con más frecuencia, delegando
                                    dicha autoridad, y se vigila simultáneamente que se cumplan en la forma adecuada
                                    todas las órdenes emitidas</p>

                                <div class="btn-toolbar mb-2 mb-md-0">
                                    <div class="btn-group mr-2">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="card mb-3" style="height: 15rem;">
                            <div class="card-body">
                                <h5 class="card-title">Cargo</h5>
                                <p class="card-text">Función de la cual una persona tiene la responsabilidad en una
                                    organización.</p>

                                <div class="btn-toolbar mb-2 mb-md-0">
                                    <div class="btn-group mr-2">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card mb-3" style="height: 15rem;">
                            <div class="card-body">
                                <h5 class="card-title">Empleado</h5>
                                <p class="card-text">Persona que desempeña un cargo o trabajo.</p>

                                <div class="btn-toolbar mb-2 mb-md-0">
                                    <div class="btn-group mr-2">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </main>

        </div>
    </div>

</body>