<p>reporte-direccion-comparativo-ejecucion works!</p>
<body>
  <app-cabecera></app-cabecera>

  <div class="container-fluid">
    <div class="row">
      <app-menu
        [lista]="menu"
        (regresar)="onRegresar()"
        (reporte)="onReporte()"
      ></app-menu>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
        >
          <h1 class="h6">Dirección: Comparativa Ejecución</h1>
        </div>

        <form class="example-form" autocomplete="nope">
          <div class="row">
            <div class="col-sm">
              <mat-form-field class="example-full-width">
                <mat-label>Lista de Operaciones</mat-label>
                <mat-select
                  placeholder="-- Lista de Operaciones --"
                  name="operacion"
                  #name="ngModel"
                  [(ngModel)]="filtro.OPERACION_ID"
                  required
                >
                  <mat-option [value]="0">Todas las Operaciones</mat-option>
                  <mat-option *ngFor="let a of listaOperaciones" [value]="a.ID">
                    {{ a.OPERACION }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-sm">
              <div class="col-sm">
                <mat-form-field class="example-full-width">
                  <mat-label>Lista de Direcciones</mat-label>
                  <mat-select
                    placeholder="-- Lista de Direcciones --"
                    name="direccion"
                    #direccion="ngModel"
                    [(ngModel)]="filtro.DIRECCION_ID"
                    required
                  >
                    <mat-option [value]="0">Todas las Direcciones</mat-option>
                    <mat-option *ngFor="let a of listaDireccion" [value]="a.ID">
                      {{ a.NOMBRE }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm">
              <mat-form-field class="example-full-width">
                <mat-label>Año A</mat-label>
                <mat-select
                  placeholder="-- Año --"
                  name="poa"
                  #name="ngModel"
                  [(ngModel)]="anioA"
                  required
                >
                  <mat-option *ngFor="let a of listaAnio" [value]="a.ANIO">
                    {{ a.ANIO }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-sm">
              <mat-form-field class="example-full-width">
                <mat-label>Año B</mat-label>
                <mat-select
                  placeholder="-- Año --"
                  name="poa"
                  #name="ngModel"
                  [(ngModel)]="anioB"
                  required
                >
                  <mat-option *ngFor="let a of listaAnio" [value]="a.ANIO">
                    {{ a.ANIO }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <hr class="mb-4" />

          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
              <button
                type="button"
                class="btn btn-sm btn-outline-success"
                (click)="onGenerarReporte()"
              >
                Generar Reporte
              </button>
            </div>
          </div>
        </form>

        <table id="tabla" class="table table-striped" style="font-size:smaller;">
          <thead style="text-align: center;">
            <tr style="text-align: center">
              <th scope="col">Año</th>
              <th scope="col">Ejecución Total</th>
              <th scope="col">Enero</th>
              <th scope="col">Febrero</th>
              <th scope="col">Marzo</th>
              <th scope="col">Abril</th>
              <th scope="col">Mayo</th>
              <th scope="col">Junio</th>
              <th scope="col">Julio</th>
              <th scope="col">Agosto</th>
              <th scope="col">Septiembre</th>
              <th scope="col">Octubre</th>
              <th scope="col">Noviembre</th>
              <th scope="col">Diciembre</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let a of listaAnioA" style="text-align: justify">
              <td>{{ a.ID }}</td>

              <td>
                <p style="width: 50px; text-align: right; font-size: 10px">
                  {{ a.EJECUCION | currency: "$" }}
                </p>
              </td>

              <td>
                <p style="width: 50px; text-align: right; font-size: 10px">
                  {{ a.ENERO_E | currency: "$" }}
                </p>
              </td>

              <td>
                <p style="width: 50px; text-align: right; font-size: 10px">
                  {{ a.FEBRERO_E | currency: "$" }}
                </p>
              </td>

              <td>
                <p style="width: 50px; text-align: right; font-size: 10px">
                  {{ a.MARZO_E | currency: "$" }}
                </p>
              </td>

              <td>
                <p style="width: 50px; text-align: right; font-size: 10px">
                  {{ a.ABRIL_E | currency: "$" }}
                </p>
              </td>

              <td>
                <p style="width: 50px; text-align: right; font-size: 10px">
                  {{ a.MAYO_E | currency: "$" }}
                </p>
              </td>

              <td>
                <p style="width: 50px; text-align: right; font-size: 10px">
                  {{ a.JUNIO_E | currency: "$" }}
                </p>
              </td>

              <td>
                <p style="width: 50px; text-align: right; font-size: 10px">
                  {{ a.JULIO_E | currency: "$" }}
                </p>
              </td>

              <td>
                <p style="width: 50px; text-align: right; font-size: 10px">
                  {{ a.AGOSTO_E | currency: "$" }}
                </p>
              </td>

              <td>
                <p style="width: 50px; text-align: right; font-size: 10px">
                  {{ a.SEPTIEMBRE_E | currency: "$" }}
                </p>
              </td>

              <td>
                <p style="width: 50px; text-align: right; font-size: 10px">
                  {{ a.OCTUBRE_E | currency: "$" }}
                </p>
              </td>

              <td>
                <p style="width: 50px; text-align: right; font-size: 10px">
                  {{ a.NOVIEMBRE_E | currency: "$" }}
                </p>
              </td>

              <td>
                <p style="width: 50px; text-align: right; font-size: 10px">
                  {{ a.DICIEMBRE_E | currency: "$" }}
                </p>
              </td>
            </tr>

            <tr *ngFor="let a of listaAnioB" style="text-align: justify">
              <td>{{ a.ID }}</td>

              <td>
                <p style="width: 50px; text-align: right; font-size: 10px">
                  {{ a.EJECUCION | currency: "$" }}
                </p>
              </td>

              <td>
                <p style="width: 50px; text-align: right; font-size: 10px">
                  {{ a.ENERO_E | currency: "$" }}
                </p>
              </td>

              <td>
                <p style="width: 50px; text-align: right; font-size: 10px">
                  {{ a.FEBRERO_E | currency: "$" }}
                </p>
              </td>

              <td>
                <p style="width: 50px; text-align: right; font-size: 10px">
                  {{ a.MARZO_E | currency: "$" }}
                </p>
              </td>

              <td>
                <p style="width: 50px; text-align: right; font-size: 10px">
                  {{ a.ABRIL_E | currency: "$" }}
                </p>
              </td>

              <td>
                <p style="width: 50px; text-align: right; font-size: 10px">
                  {{ a.MAYO_E | currency: "$" }}
                </p>
              </td>

              <td>
                <p style="width: 50px; text-align: right; font-size: 10px">
                  {{ a.JUNIO_E | currency: "$" }}
                </p>
              </td>

              <td>
                <p style="width: 50px; text-align: right; font-size: 10px">
                  {{ a.JULIO_E | currency: "$" }}
                </p>
              </td>

              <td>
                <p style="width: 50px; text-align: right; font-size: 10px">
                  {{ a.AGOSTO_E | currency: "$" }}
                </p>
              </td>

              <td>
                <p style="width: 50px; text-align: right; font-size: 10px">
                  {{ a.SEPTIEMBRE_E | currency: "$" }}
                </p>
              </td>

              <td>
                <p style="width: 50px; text-align: right; font-size: 10px">
                  {{ a.OCTUBRE_E | currency: "$" }}
                </p>
              </td>

              <td>
                <p style="width: 50px; text-align: right; font-size: 10px">
                  {{ a.NOVIEMBRE_E | currency: "$" }}
                </p>
              </td>

              <td>
                <p style="width: 50px; text-align: right; font-size: 10px">
                  {{ a.DICIEMBRE_E | currency: "$" }}
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </main>
    </div>
  </div>
</body>
